
/* Always need to use this three element to crat a website styling. Its can help to creat designe as you want not by defult */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/* Always use rem. Not pix or em ,becousue with rem user can change font size on your website */

table tr th{
    color: brown;
}
#newtest{
    color: blue ;
}

.myh3{
    color: forestgreen;
}
h3{
    color: aqua !important;
    font-size: 4rem;
}


 header nav ul {
     display: flex;
     justify-content: center;
     align-items: center;
     justify-content: space-around;
     height: 300px;
     background-color: rgba(122, 131, 131, 0.327);
     

 }


 header nav ul li a{
     font-size: 1.5rem;
     

 }


